<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}당신의 선택은?{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <a href="/main">
            <img src="{% static 'jihan.jpg' %}" alt="Logo" class="logo">
        </a>
    
        <div class="title">
            <span>두근두근</span><strong class="heartbeat">대근 대근 ><</strong>
        </div>

        <div class="developer-list">
            <h3 onclick="toggleDeveloperList()">개발자 리스트</h3>
            <ul id="developerList">
                <li>
                    <img src="{% static 'jihan.jpg' %}" alt="이지한" class="dev-photo">
                    <a href="{% url 'ai_ljh:developer_page_1' %}">이지한</a>
                </li>
                <li>
                    <img src="{% static 'developer2.jpg' %}" alt="최대근" class="dev-photo">
                    <a href="{% url 'ai_ljh:developer_page_2' %}">최대근</a>
                </li>
                <li>
                    <img src="{% static 'woo.jpg' %}" alt="성진우" class="dev-photo">
                    <a href="{% url 'ai_ljh:developer_page_3' %}">성진우</a>
                </li>
                <li>
                    <img src="{% static 'min.jpg' %}" alt="김현민" class="dev-photo">
                    <a href="{% url 'ai_ljh:developer_page_4' %}">김현민</a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        {% block content %}

        <p>여기에 컨텐츠가 표시됩니다.</p>
        {% endblock %}
    </main>

    <footer>
        <p>KG-itbank 3조 현민,진우,지한,대근</p>
    </footer>
    
    <script>
        function toggleDeveloperList() {
            var list = document.getElementById('developerList');
            list.style.display = (list.style.display === 'block') ? 'none' : 'block';
        }
    </script>
</body>
</html>
