{% extends 'templates.html' %}

{% block title %}테스터 정진우 이혼률 확률 분석 사이트{% endblock %}

{% load static %}

{% block script %}
<script src="{% static 'js/divorce/ai_jjw/learning.js' %}"></script>
<script>
    function validateInput(event) {
        const value = event.target.value;
        if (value < 0 || value > 4) {
            alert("점수는 0에서 4 사이의 값만 입력하세요.");
            event.target.value = ""; // event.target.value는 이벤트가 발생한 <input> 요소의 현재 값을 나타냅니다. 즉, 사용자가 입력한 값을 의미
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="container col-md-10">
    <h1 class="my-5">이혼 확률 데이터</h1>

    <form method="POST" action="{% url 'ai_jjw:analyze_divorce' %}">
        {% csrf_token %}
        <div class="card mb-5">
            <div class="card-header">
                컬럼에 대한 설명
            </div>
            <div class="card-body">
                <dl class="row">
                    {% for col_nm in col_list %}
                        <dt class="col-sm-1">Q{{forloop.counter}}</dt>
                        <dd class="col-sm-11">{{col_nm}}<input type="number" name="score_{{forloop.counter}}" oninput="validateInput(event)"></dd>
                        <!-- validateInput 함수가 oninput 이벤트로 연결 -->
                    {% endfor %}
                </dl>
            </div>
        </div>
    
        {{df_dvc_html|safe}}

        <div class="form-group">
            <label for="model_choice">모델 선택:</label>
            <select name="model_choice" id="model_choice" class="form-control">
                <option value="logistic">로지스틱 회귀</option>
                <option value="xgboost">XGBoost</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">예측 실행</button>
    </form>
</div>
{% endblock %}