{% extends 'templates.html' %}

{% block title %}
메인 페이지 - 두근두근
{% endblock %}

{% block content %}
<div class="content-container">
    <!-- Menu Selection Button -->
    <div class="menu-item">
        <a href="{% url 'ai_ljh:foods_learning' %}">
            <div class="emoji">🍽️</div>
            <h2>메뉴<br>선택</h2>
        </a>
    </div>

    <!-- Separation Test Button -->
    <div class="menu-item">
        <a href="{% url 'ai_chdg:learning' %}">
            <div class="emoji">💔</div>
            <h2>이별<br>테스트</h2>
        </a>
    </div>
</div>
{% endblock %}
