{% extends 'templates.html' %}

{% block title %}테스터 김현민 음식 추천 분석 사이트{% endblock %}

{% load static %}

{% block script %}
<script src="{% static 'js/foods/ai_khm/learning.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container col-md-10">
    <h1 class="py-5 text-center">상황에 따른 음식 선호도 조사</h1>

    <form method="post" name="originForm" action="{% url 'ai_khm:foods_result' %}">{% csrf_token %}
        <h4>감정 상태</h4>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="emotion" id="k-emotion1" value="1">
            <label class="form-check-label" for="emotion1">기쁨</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="emotion" id="k-emotion2" value="2">
            <label class="form-check-label" for="emotion2">슬픔</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="emotion" id="k-emotion3" value="3">
            <label class="form-check-label" for="emotion3">분노</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="emotion" id="k-emotion4" value="4">
            <label class="form-check-label" for="emotion4">짜증</label>
        </div>

        <h4 class="mt-4">계절</h4>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="season" id="k-season1" value="1">
            <label class="form-check-label" for="season1">봄</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="season" id="k-season2" value="2">
            <label class="form-check-label" for="season2">여름</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="season" id="k-season3" value="3">
            <label class="form-check-label" for="season3">가을</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="season" id="k-season4" value="4">
            <label class="form-check-label" for="season4">겨울</label>
        </div>

        <h4 class="mt-4">날씨</h4>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="weather" id="k-weather1" value="1">
            <label class="form-check-label" for="weather1">맑음</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="weather" id="k-weather2" value="2">
            <label class="form-check-label" for="weather2">흐림</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="weather" id="k-weather3" value="3">
            <label class="form-check-label" for="weather3">비</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="weather" id="k-weather4" value="4">
            <label class="form-check-label" for="weather4">눈</label>
        </div>

        <h4 class="mt-4">같이 먹는 사람 수</h4>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="people" id="k-people1" value="1">
            <label class="form-check-label" for="people1">혼자</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="people" id="k-people2" value="2">
            <label class="form-check-label" for="people2">2인</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="people" id="k-people3" value="3">
            <label class="form-check-label" for="people3">3인</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="people" id="k-people4" value="4">
            <label class="form-check-label" for="people4">4인 이상</label>
        </div>

        <h4 class="mt-4">음식 가격</h4>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="price" id="k-price1" value="1">
            <label class="form-check-label" for="price1">5,000원 미만</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="price" id="k-price2" value="2">
            <label class="form-check-label" for="price2">5,000원 이상 10,000원 미만</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="price" id="k-price3" value="3">
            <label class="form-check-label" for="price3">10,000원 이상</label>
        </div>

        <h4 class="mt-4">식사 시간</h4>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="k-time1" value="1">
            <label class="form-check-label" for="time1">점심</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="k-time2" value="2">
            <label class="form-check-label" for="time2">저녁</label>
        </div>

        <h4 class="mt-4">성별</h4>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="k-sex1" value="1">
            <label class="form-check-label" for="sex1">남</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="k-sex2" value="2">
            <label class="form-check-label" for="sex2">여</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="k-sex3" value="3">
            <label class="form-check-label" for="sex3">혼성</label>
        </div>

        <button class="mt-4 w-100 btn btn-primary btn-lg" type="button" onclick="validResult();">결과 보기</button>
    </form>
</div>
{% endblock %}