h1, h2 {
    text-align: center;
}

form#surveyForm {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* 너비를 80%로 설정 */
    max-width: 600px;
    margin: 20px auto; /* 가로 및 세로 가운데 정렬 */
}

.question {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 지문을 왼쪽에 정렬 */
}

.custom-checkbox-group {
    display: flex;
    justify-content: space-between; /* 라디오 버튼들을 양 끝에 배치 */
    align-items: center;
    width: 100%;
    margin-bottom: 10px; /* 라디오 버튼 그룹의 아래쪽 간격 */
}

.custom-checkbox-group .custom-checkbox {
    display: flex;
    flex-direction: column; /* 라벨을 라디오 버튼 아래에 배치 */
    align-items: center;
}

.custom-checkbox-group .custom-checkbox .radio__tick {
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    background-color: white;
    width: 20px;  /* 라디오 버튼 크기 */
    height: 20px; /* 라디오 버튼 크기 */
}

.custom-checkbox-group .custom-checkbox input[type="radio"]:checked + .radio__tick {
    background-color: #528af4;
}

.custom-checkbox-group .custom-checkbox:hover .radio__tick {
    background-color: #878480;
}

/* styles.css 파일에 추가 */
.custom-checkbox-group .custom-checkbox input[type="radio"]:checked + .radio__tick::after {
    display: none !important; /* 체크 표시를 강제로 제거 */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

.custom-checkbox-group .custom-checkbox .label-text {
    margin-top: 5px; /* 라디오 버튼과 라벨 사이의 간격 */
    font-size: 14px; /* 필요에 따라 글씨 크기 조정 */
}