{% extends 'templates.html' %}

{% block title %}테스터 김현민 KNN 결과 사이트{% endblock %}

{% load static %}

{% block script %}
<script src="{% static 'js/divorce/ai_khm/comm.js' %}"></script>
<script src="{% static 'js/divorce/ai_khm/knn.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container col-md-10">
    <h1 class="my-5">KNN 모델 이혼 확률 결과</h1>

    <h4>정확도</h4>

    <p>{{accuracy_score}}</p>

    <h4 class="my-4">최고 점수</h4>

    <p>{{knn_best_score}}</p>

    <h4 class="my-4">최고 파라미터</h4>

    <p>{{knn_best_params}}</p>

    <h4 class="my-4">k-neighbors 파라미터 입력</h4>

    <form class="row row-cols-lg-auto g-3 align-items-center" method="post" action="{% url 'ai_khm:knn_test_params' %}" name="knnTestForm">{% csrf_token %}
        <div class="col-12">
            <label for="knnMinVal" class="form-label">파라미터 최소값</label>

            <input type="text" class="form-control" id="knnMinVal" name="knnMinVal" oninput="onlyInputNumber(this);">
        </div>
        <div class="col-12">
            <label for="knnMaxVal" class="form-label">파라미터 최대값</label>

            <input type="text" class="form-control" id="knnMaxVal" name="knnMaxVal" oninput="onlyInputNumber(this);">
        </div>
        <div class="col-12">
            <label for="knnAddVal" class="form-label">파라미터 증가값</label>

            <input type="text" class="form-control" id="knnAddVal" name="knnAddVal" oninput="onlyInputNumber(this);">
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="knnParamsTest();">최적 파라미터 테스트</button>
        </div>
    </form>
    
    <button type="button" class="btn btn-secondary btn-lg mt-5" onclick="returnLearning();">이혼 확률 분석 사이트로 돌아가기</button>
</div>
{% endblock %}