{% extends 'templates.html' %}

{% block title %}테스터 김현민 KNN 최고의 파라미터 결과 사이트{% endblock %}

{% load static %}

{% block script %}
<script src="{% static 'js/divorce/ai_khm/comm.js' %}"></script>
<script src="{% static 'js/divorce/ai_khm/knn.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container col-md-10">
    <h1 class="my-5">KNN 모델 이혼 확률 최고의 파라미터 테스트 결과</h1>

    <h4>최고 점수</h4>

    <p>{{knn_best_score}}</p>

    <h4 class="my-4">최고 파라미터</h4>

    <p>{{knn_best_params}}</p>

    <h4 class="my-4">정확도 그래프</h4>

    <img src="data:image/png;base64, {{graph|safe}}" alt="">

    <h4 class="my-4">k-neighbors 최적화된 파라미터 입력</h4>

    <form class="row row-cols-lg-auto g-3 align-items-center" method="post" action="{% url 'ai_khm:knn_opt_prms_result' %}" name="knnOptPrmsForm">{% csrf_token %}
        <div class="col-12">
            <label for="knnMetric" class="form-label">metrics</label>

            <select name="knnMetric" id="knnMetric" class="form-select">
                <option value="euclidean" selected>euclidean</option>
                <option value="manhattan">manhattan</option>
                <option value="minkowski">minkowski</option>
            </select>
        </div>
        <div class="col-12">
            <label for="knnNeighbors" class="form-label">n_neighbors</label>

            <input type="text" class="form-control" id="knnNeighbors" name="knnNeighbors" oninput="onlyInputNumber(this);">
        </div>
        <div class="col-12">
            <label for="knnWeights" class="form-label">weights</label>

            <select name="knnWeights" id="knnWeights" class="form-select">
                <option value="uniform" selected>uniform</option>
                <option value="distance">distance</option>
            </select>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="knnOptParamsTest();">최적의 파라미터 입력 결과보기</button>
        </div>
    </form>
    
    <button type="button" class="btn btn-secondary btn-lg mt-5" onclick="returnLearning();">이혼 확률 분석 사이트로 돌아가기</button>
</div>
{% endblock %}