{% extends 'templates.html' %}

{% block title %}테스터 김현민 이혼률 확률 분석 사이트{% endblock %}

{% load static %}

{% block script %}
<script src="{% static 'js/divorce/ai_khm/learning.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container col-md-10">
    <h1 class="my-5">이혼 확률 데이터</h1>

    <div class="card mb-5">
        <div class="card-header">
            컬럼에 대한 설명
        </div>
        <div class="card-body">
            <dl class="row">
             {% for key, val in dvc_dict.items %}
                <dt class="col-sm-2">{{key}}</dt>
                <dd class="col-sm-10">{{val}}</dd>
             {% endfor %}
            </dl>
            
        </div>
    </div>
    
    {{df_dvc_html|safe}}

    <h4 class="my-4">이혼 데이터 정보</h4>

    <p>{{data_info}}</p>

    <h4 class="my-4">이혼 데이터 일부</h4>

    <p>{{data_head|safe}}</p>

    <h4 class="my-4">이혼 데이터 상세</h4>

    <p>{{data_desc|safe}}</p>

    <h4 class="my-4">이혼 데이터 결측치 확인</h4>

    <p>{{data_isnull_sum}}</p>

    <h2 class="mt-5 mb-4">결정 트리 모델 테스트</h2>

    <button type="button" class="btn btn-primary btn-lg" onclick="execDT();">실행</button>

    <h2 class="my-4">KNN 모델 테스트</h2>

    <button type="button" class="btn btn-primary btn-lg" onclick="execKNN();">실행</button>

    <h2 class="my-4">SVM 모델 테스트</h2>

    <button type="button" class="btn btn-primary btn-lg" onclick="execSVM();">실행</button>

    <h2 class="my-4">로지스틱 회귀 모델 테스트</h2>

    <button type="button" class="btn btn-primary btn-lg" onclick="execLR();">실행</button>

    <h2 class="my-4">보팅 분류 테스트</h2>

    <button type="button" class="btn btn-primary btn-lg" onclick="execVoting();">실행</button>
</div>
{% endblock %}