{% extends 'templates.html' %}

{% block title %}테스터 김현민 로지스틱 회귀 결과 사이트{% endblock %}

{% load static %}

{% block script %}
<script src="{% static 'js/divorce/ai_khm/comm.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container col-md-10">
    <h1 class="my-5">로지스틱 회귀 모델 이혼 확률 결과</h1>

    <h4>성능 평가</h4>

    <p>{{lr_score}}</p>

    <h4 class="my-4">정확도</h4>

    <p>{{lr_acc_score}}</p>

    <h4 class="my-4">ROC_AUC</h4>

    <p>{{lr_roc_auc_score}}</p>

    <h4 class="my-4">회귀 계수 데이터</h4>

    <p>{{df_lr_coef|safe}}</p>

    <button type="button" class="btn btn-secondary btn-lg mt-5" onclick="returnLearning();">이혼 확률 분석 사이트로 돌아가기</button>
</div>
{% endblock %}