{% extends 'templates.html' %}

{% block title %}테스터 김현민 보팅 분류기 결과 사이트{% endblock %}

{% load static %}

{% block script %}
<script src="{% static 'js/divorce/ai_khm/comm.js' %}"></script>
<script src="{% static 'js/divorce/ai_khm/voting.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container col-md-10">
    <h1 class="my-5">보팅 분류기 이혼 확률 결과</h1>

    <h4>소프트 보팅 정확도</h4>

    <p>{{soft_voting_acc_score}}</p>

    <h4 class="my-4">하드 보팅 정확도</h4>

    <p>{{hard_voting_acc_score}}</p>

    <h4 class="my-4">표준화 한 후 소프트 보팅 정확도</h4>

    <p>{{standard_soft_voting_acc_score}}</p>

    <h4 class="my-4">보팅에 사용한 각 모델 정확도</h4>

    <p>
      {% for model in model_acc_list %}
        {{model}}

        {% if not forloop.last %}
        <br>
        {% endif %}
      {% endfor %}
    </p>

    <h4 class="my-4">보팅에 사용한 각 모델 교차검증</h4>

    <p>
      {% for model in voting_cv_list %}
        {{model}}

        {% if not forloop.last %}
        <br>
        {% endif %}
      {% endfor %}
    </p>

    <h4 class="my-4">최고 점수</h4>

    <p>{{voting_best_score}}</p>

    <h4 class="my-4">최고 파라미터</h4>

    <p>{{voting_best_params}}</p>

    <h4 class="my-4">보팅 파라미터 입력</h4>

    <form class="row row-cols-lg-auto g-3 align-items-center" method="post" action="{% url 'ai_khm:voting_test_params' %}" name="votingTestForm">{% csrf_token %}
        <div class="col-12">
            <label for="votingCMinVal" class="form-label">C 파라미터 최소값</label>

            <input type="text" class="form-control" id="votingCMinVal" name="votingCMinVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingCMaxVal" class="form-label">C 파라미터 최대값</label>

            <input type="text" class="form-control" id="votingCMaxVal" name="votingCMaxVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingCAddVal" class="form-label">C 파라미터 증가값</label>

            <input type="text" class="form-control" id="votingCAddVal" name="votingCAddVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingCPoint" class="form-label">C 파라미터 소수점 아래 최대 자리수(정수는 입력 불필요)</label>

            <input type="text" class="form-control" id="votingCPoint" name="votingCPoint" oninput="onlyInputNumber(this);">
        </div>
        <div class="col-12">
            <label for="votingNeighborsMinVal" class="form-label">n_neighbors 파라미터 최소값</label>

            <input type="text" class="form-control" id="votingNeighborsMinVal" name="votingNeighborsMinVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingNeighborsMaxVal" class="form-label">n_neighbors 파라미터 최대값</label>

            <input type="text" class="form-control" id="votingNeighborsMaxVal" name="votingNeighborsMaxVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingNeighborsAddVal" class="form-label">n_neighbors 파라미터 증가값</label>

            <input type="text" class="form-control" id="votingNeighborsAddVal" name="votingNeighborsAddVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingNeighborsPoint" class="form-label">n_neighbors 파라미터 소수점 아래 최대 자리수(정수는 입력 불필요)</label>

            <input type="text" class="form-control" id="votingNeighborsPoint" name="votingNeighborsPoint" oninput="onlyInputNumber(this);">
        </div>
        <div class="col-12">
            <label for="votingMetric" class="form-label">KNeighbors metrics</label>

            <select name="votingMetric" id="votingMetric" class="form-select">
                <option value="euclidean" selected>euclidean</option>
                <option value="manhattan">manhattan</option>
                <option value="minkowski">minkowski</option>
            </select>
        </div>
        <div class="col-12">
            <label for="votingWeights" class="form-label">KNeighbors weights</label>

            <select name="votingWeights" id="votingWeights" class="form-select">
                <option value="uniform" selected>uniform</option>
                <option value="distance">distance</option>
            </select>
        </div>
        <div class="col-12">
            <label for="votingMaxDepthMinVal" class="form-label">max_depth 파라미터 최소값</label>

            <input type="text" class="form-control" id="votingMaxDepthMinVal" name="votingMaxDepthMinVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingMaxDepthMaxVal" class="form-label">max_depth 파라미터 최대값</label>

            <input type="text" class="form-control" id="votingMaxDepthMaxVal" name="votingMaxDepthMaxVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingMaxDepthAddVal" class="form-label">max_depth 파라미터 증가값</label>

            <input type="text" class="form-control" id="votingMaxDepthAddVal" name="votingMaxDepthAddVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingMaxDepthPoint" class="form-label">max_depth 파라미터 소수점 아래 최대 자리수(정수는 입력 불필요)</label>

            <input type="text" class="form-control" id="votingMaxDepthPoint" name="votingMaxDepthPoint" oninput="onlyInputNumber(this);">
        </div>
        <div class="col-12">
            <label for="votingMinSamplesSplMinVal" class="form-label">min_samples_split 파라미터 최소값</label>

            <input type="text" class="form-control" id="votingMinSamplesSplMinVal" name="votingMinSamplesSplMinVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingMinSamplesSplMaxVal" class="form-label">min_samples_split 파라미터 최대값</label>

            <input type="text" class="form-control" id="votingMinSamplesSplMaxVal" name="votingMinSamplesSplMaxVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingMinSamplesSplAddVal" class="form-label">min_samples_split 파라미터 증가값</label>

            <input type="text" class="form-control" id="votingMinSamplesSplAddVal" name="votingMinSamplesSplAddVal" oninput="onlyInputNumberAndDot(this);">
        </div>
        <div class="col-12">
            <label for="votingMinSamplesSplPoint" class="form-label">min_samples_split 파라미터 소수점 아래 최대 자리수(정수는 입력 불필요)</label>

            <input type="text" class="form-control" id="votingMinSamplesSplPoint" name="votingMinSamplesSplPoint" oninput="onlyInputNumber(this);">
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="votingParamsTest();">최적 파라미터 테스트</button>
        </div>
    </form>

    <button type="button" class="btn btn-secondary btn-lg mt-5" onclick="returnLearning();">이혼 확률 분석 사이트로 돌아가기</button>
</div>
{% endblock %}